<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, vero tenetur?
  Pariatur facere harum laudantium.
</p>

<%- include("footer") -%>
